<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css"/>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <section class="container">
            <%-partial('./top-navigation')%>
            <%-body -%>
            <%-partial('./footer')%>
        </section>
    </body>
</html>